# Environment
.DS_Store
.env
.pytest_cache
.vscode
pyvenv.cfg
.coverage

# Directories
__pycache__
bin
htmlcov
include
lib

# Files

# Ignore all .log and test files
*.log
*.test.*

# Data
*.csv
*.xlsx